<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0.1">
    <title>기구 사용 조회</title>
</head>
<body>
<main>
    <header><h1>기구 리스트</h1></header>
    <tr th:each="instance: ${machineData}">
        <td>
            <p th:text="${instance.key} + '번째 기구'">keyValue</p>
            <img th:if="${instance.value} == true" src="/img/exercising.svg" alt="사용중입니다">
            <img th:unless="${instance.value} == true" src="/img/resting.svg" alt="사용중이아닙니다">
        </td>
        <br>
    </tr>

</main>
</body>
</html>